header {margin-bottom: 3rem;}
p {line-height: 1.6;}
a.see-all{font-size: 0.8em; text-transform: uppercase; }
h1 {font-size: 2.5rem}
h2 {font-size: 1rem; text-transform: uppercase;}
body h1,h2 {font-weight: lighter;}
section.cast img {width:100%;}
section.cast div {width:25%;}
ul.shows > li {border-top: 1px solid red;}
nav ul li.selected {font-style: bold; font color: black;}
section.cast ul li a div {font-size: 0.8rem;}
section.cast ul li a div:first-of-type {font-weight:bold;}
section.cast ul li a div:last-of-type {font-style:italic;}
li#game-of-thrones section.seasons ul li:last-child::before {content:"*";}
li#game-of-thrones section.seasons ul::after {display: block; content: "\A * In production"; font-size: 0.7rem; color: #999;}